page-home {


.toolbar-background {
    background-color: #00b33c;
   }

   
#content{
	color:gray;
	font-family:Algerian;
    text-align:center;
  }


h6{
	color:red;
	font-family:Monotype Corsiva;
	 text-align:center;
 }



#homebutton{
	text-align:center;
}


#hometitle{
	text-align:center;
	font-family: Bernard MT Condensed;
	font-size:40px;
	color:white;
	
}

}
